/*//////////////////////////////////////////////////////////////////
[ GESTION_ENTREPRISES ]*/

.content_title
{
  text-align: center;
  margin: 10px;
  font-size:calc(30px + 1vw);
  font-weight: bold;
}

table {
  display: inline-block;
  border-collapse: collapse;
  text-align: center;
}

table th{
  border: 1px solid #000000;
  column-width: 13rem;
}

table td{
  border: 1px solid #000000;
  column-width: 13rem;	
}

div table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*
.action{
  
}*/

/*//////////////////////////////////////////////////////////////////
[ Modal ] */

.modal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.title_modal
{
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.modal-content 
{
    background-color: #ffffff;
    margin: 15% auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.info_message
{
  display: none;
  width: 80%;
  margin: 10px auto 20px auto;
  padding: 10px;
  border-radius: 10px;
}

.form_edit_company input
{
    width: 50%;
    height: 25px;
    margin-left: 10px;
    font-size: 20px;
}

.form_edit_company button, .form_edit_company input[type="button"]
{
    margin: 10px;
    width: 120px;
    height: 40px;
    font-size: 20px;
}

.close 
{
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    right: -20px;
}

.close:hover, .close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media screen and (max-width: 900px)
{
    .modal-content
    {
      width: 90%;
    }
}

@media screen and (max-width: 500px) {
  .flex-row {
    width: 100%;
  }
  .flex-table .name
  {
    text-align: left;
    font-weight: bold ;
  }
  .flex-table .value
  {
    text-align: center;
  }
}