/*//////////////////////////////////////////////////////////////////
[ OFFRES_STAGES ]*/

.content_title
{
  text-align: center;
  margin: 10px;
  font-size:calc(30px + 1vw);
  font-weight: bold;
}

.bubble
{
    position: relative;
    min-width: 350px;
    text-align: center;
    margin: 30px;
    background-color: var(--black3);
    border-radius: 20px;
}

.title_bubble
{
    position: relative;
    display: block;
    padding: 10px 40px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}

.heart-1, 
.heart-2
{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    font-size: 0.75em;
    cursor: pointer;
}

.heart-2 {
    display: none;
    color: red;
}

.bubble img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.bubble .text_content
{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25em;
    padding: 0 10px 20px 10px;
}

.bubble .divLeft,
.bubble .divRight
{
    width: 50%;
}

.bubble .divLeft .name_company
{
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px;
}

.bubble .divRight
{
    text-align: left;
}

.bubble .table_title
{
    margin: 0 0 10px 45px;
}

.bubble .divRight table
{
    margin-left: 50px;
}

.bubble .divRight table td
{
    padding: 0 10px 8px 0;
}

.bubble .divLeft .description
{
    display: block;
    height: auto;
    margin: 10px;
    padding: 15px;
    background-color: lightgray;
    border-radius: 20px;
}



.table-container
{
    display: block;
    width: 85%; 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.filter_form button
{
    width: 130px;
    height: 40px;
    margin-top: 15px;
    font-size: 1em;
}
  
.flex-table
{
    display: flex;
    flex-flow: row wrap;
}

.flex-row
{
    width: calc(100% / 4);
    text-align: center;
    padding: 0.2em 0.2em;
}

.flex-row select,
.flex-row input
{
    width:220px;
}

.flex-table .name
{
    text-align: center;
}

.flex-table .value
{
    text-align: center;
}

.bubble .button
{
    margin: 0 0 0 auto;
}

.bubble .button_postuler
{
    width: 130px;
    height: 40px;
    margin-right: 10px;
    font-size: 1em;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media screen and (max-width: 1300px)
{
    .table-container {
        width: 100%;
    }
}

@media screen and (max-width: 1200px)
{
    .table-container {
        width: 80%;
    }
    .flex-row {
        width: calc(100% / 2);
    }

    .flex-table .name
    {
        text-align: left;
    }
    
}

@media screen and (max-width: 900px)
{
    .bubble {
        margin: 30px 5px 30px 5px;
    }
    .table-container {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .table-container {
        width: 80%;
    }
    .flex-row {
        width: 100%;
    }
    .flex-table .name {
        text-align: left;
        font-weight: bold ;
    }
    .flex-table .value {
        text-align: center;
    }
    .bubble .divLeft,
    .bubble .divRight
    {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    body {
        overflow-x: auto;
    }
}